$alazarin-crimson: #e02528;
$tundora: #424242;
$mine-shaft: #282828;
$alabaster: #f8f8f8;
$dove-gray: #666666;
$cinnabar: #ea3b2f;
$gigas: #5b3587;
$como: #b98c79;
$fountain-blue: #61b6c2;
$boulder: #797979;

$bgcolor-body: $alabaster;
$bgcolor-biography: $mine-shaft;
$bgcolor-related-movie-data: $mine-shaft;
$bgcolor-profile-picture: $dove-gray;
$bgcolor-movie-item-play-odd: $gigas;
$bgcolor-movie-item-play-even: $cinnabar;

$color-h3: $alazarin-crimson;
$color-h2: $cinnabar;
$color-see-more: $fountain-blue;
$color-movie-item-heading: $tundora;
$color-movie-item-data: $como;

$break-medium: 768px;
$break-large: 960px;
