body {
  background-color: $bgcolor-body;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.075em;
  font-size: 0.9em;
  line-height: 1.5em;
  max-width: 980px;
  margin: auto;
  padding: 0.25em;
  @media screen and (min-width: $break-medium) {
    padding: 1em;
  }
}

th {
  text-align: left;
}

td {
  padding-left: 1em;
}

h1 {
  border-left-style: solid;
  border-width: 5px;
  border-color: $color-h3;
  padding-left: 0.35em;
}

h2 {
  color: $color-h2;
}
